<!-- Main Content -->
<!-- Title -->
<div class="panel" id="title-panel">
  William Newman
  <!-- Sub Title -->
  <div id="sub-title-panel">
    Software Engineer

    <!-- Links and Content -->
    <div class="panel" id="main-panel">
      <!-- Resume Link -->
      <a
        href="../../../assets/William_Newman_Resume.pdf"
        class="link"
        id="resume-link"
        target="_blank"
        >My Resume</a
      >
      <!-- Project List -->
      <ul class="list" id="project-list">
        Projects:
        @for (projectLink of projectList; track $index) {
        <li>
          <a
            href="{{ projectLink.websiteLink }}"
            title="{{ projectLink.description }}"
            class="link"
            id="project-link"
            target="_blank"
          >
            {{ projectLink.name }}
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
</div>
