#canvas {
  display: block;
  height: 100%;
  width: 100%;
}

#loadText {
  font-family: "Lato", Helvetica, sans-serif;
  color: rgba($color: #405e7a, $alpha: 1);
  position: fixed;
  top: 1vh;
  width: 100%;
  text-align: center;
  font-size: 1vw;
}
