#canvas {
    height: 100vh;
    width: 100vw;
    background-image: "assets/space_and_silhouette.jpg";
}

#loadText {
    position: fixed;
    top: 1vh;
    left: 45vw;
    width: 10vw;
    text-align: center;
}